In [ ]:
import pandas as pd
import tensorflow as tf

df = pd.read_csv('elonmusk.csv')

In [ ]:
# df = df[~df["Text"].str.contains("@")]
df = df[~df["Text"].str.contains("http")]
df = df[~df["Text"].str.contains("https")]

In [ ]:
df

,Datetime,Tweet Id,Text,Username
0,2023-05-27 23:06:22+00:00,1662596135679131649,"@RealJamesWoods On Twitter, I mean",elonmusk
1,2023-05-27 23:06:02+00:00,1662596048076906501,@RealJamesWoods Jack is back,elonmusk
2,2023-05-27 23:05:08+00:00,1662595824042352641,@Jason 😬,elonmusk
3,2023-05-27 20:09:42+00:00,1662551674857086977,@DrLoupis 👀,elonmusk
4,2023-05-27 19:24:12+00:00,1662540224780443650,@alifarhat79 🦾,elonmusk
...,...,...,...,...
23428,2011-12-21 10:26:51+00:00,149435658115612672,"Read ""Lying"", the new book by my friend Sam Ha...",elonmusk
23429,2011-12-04 03:33:52+00:00,143171132814671872,Am reading a great biography of Ben Franklin b...,elonmusk
23430,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk
23431,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk
23434,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk

In [ ]:
def find_ats(string):
  sentence = string.split()
  final_sentence = []
  for word in sentence:
    if not "@" in word:
      final_sentence.append(word)
  final_sentence = " ".join(final_sentence)
  return final_sentence

In [ ]:
find_ats(df["Text"][1])

'Jack is back'

In [ ]:
df["Text"] = df["Text"].apply(find_ats)

In [ ]:
df

,Datetime,Tweet Id,Text,Username
0,2023-05-27 23:06:22+00:00,1662596135679131649,"On Twitter, I mean",elonmusk
1,2023-05-27 23:06:02+00:00,1662596048076906501,Jack is back,elonmusk
2,2023-05-27 23:05:08+00:00,1662595824042352641,😬,elonmusk
3,2023-05-27 20:09:42+00:00,1662551674857086977,👀,elonmusk
4,2023-05-27 19:24:12+00:00,1662540224780443650,🦾,elonmusk
...,...,...,...,...
23428,2011-12-21 10:26:51+00:00,149435658115612672,"Read ""Lying"", the new book by my friend Sam Ha...",elonmusk
23429,2011-12-04 03:33:52+00:00,143171132814671872,Am reading a great biography of Ben Franklin b...,elonmusk
23430,2011-12-03 08:22:07+00:00,142881284019060736,That was a total non sequitur btw,elonmusk
23431,2011-12-03 08:20:28+00:00,142880871391838208,"Great Voltaire quote, arguably better than Twa...",elonmusk
23434,2010-06-04 18:31:57+00:00,15434727182,"Please ignore prior tweets, as that was someon...",elonmusk

In [ ]:
df.reset_index(inplace=True, drop=True)

In [ ]:
df.head(20)

,Datetime,Tweet Id,Text,Username
0,2023-05-27 23:06:22+00:00,1662596135679131649,"On Twitter, I mean",elonmusk
1,2023-05-27 23:06:02+00:00,1662596048076906501,Jack is back,elonmusk
2,2023-05-27 23:05:08+00:00,1662595824042352641,😬,elonmusk
3,2023-05-27 20:09:42+00:00,1662551674857086977,👀,elonmusk
4,2023-05-27 19:24:12+00:00,1662540224780443650,🦾,elonmusk
5,2023-05-27 19:22:09+00:00,1662539707559952384,Office Space is an awesome movie,elonmusk
6,2023-05-27 19:06:27+00:00,1662535758106828803,🤣,elonmusk
7,2023-05-27 19:03:00+00:00,1662534890133372931,A real problem!,elonmusk
8,2023-05-27 18:52:53+00:00,1662532343951761410,Wow,elonmusk
9,2023-05-27 18:48:36+00:00,1662531265797431299,🤣,elonmusk
10,2023-05-27 18:42:26+00:00,1662529714634752001,"Previously, I had thought it was some pescatar...",elonmusk
11,2023-05-27 18:38:41+00:00,1662528767221280768,I was today’s years old when I learned that so...,elonmusk
12,2023-05-27 17:52:26+00:00,1662517130779058176,We are insulated from this in the west,elonmusk
13,2023-05-27 17:48:30+00:00,1662516141669883908,🤣,elonmusk
14,2023-05-27 17:16:28+00:00,1662508078657335297,🤣,elonmusk
15,2023-05-27 17:09:30+00:00,1662506327434821632,Ever?,elonmusk
16,2023-05-27 17:06:13+00:00,1662505499319779328,🧐,elonmusk
17,2023-05-27 16:57:29+00:00,1662503299378032640,Not sure why this happened,elonmusk
18,2023-05-27 16:53:56+00:00,1662502406708420612,🎯,elonmusk
19,2023-05-27 16:52:16+00:00,1662501986627977218,Just tap the button for FSD Beta,elonmusk

In [ ]:
for i in [",", ":", ";", "/", "\\", "!", "?", '"', "'"]:
  df["Text"]=df["Text"].str.replace(i, "")

<ipython-input-10-4c8a0c8c1229>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Text"]=df["Text"].str.replace(i, "")

In [ ]:
removeable_indices = []

for i in range(0, len(df["Text"])):
  # print(, i)
  if len(df["Text"][i].split()) < 2:
    removeable_indices.append(i)
print(removeable_indices)

[2, 3, 4, 6, 8, 9, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 30, 37, 48, 50, 53, 55, 59, 61, 66, 71, 73, 76, 77, 78, 79, 80, 81, 82, 83, 85, 89, 91, 94, 95, 97, 101, 102, 103, 104, 105, 109, 111, 112, 113, 114, 115, 118, 120, 121, 122, 126, 129, 131, 142, 143, 144, 146, 148, 149, 150, 152, 153, 156, 157, 158, 159, 160, 162, 163, 164, 165, 166, 169, 170, 171, 174, 175, 177, 179, 180, 186, 188, 189, 191, 193, 197, 199, 202, 203, 204, 205, 206, 208, 212, 215, 216, 218, 220, 221, 223, 228, 231, 237, 245, 246, 249, 252, 254, 257, 258, 259, 262, 263, 264, 265, 266, 267, 268, 271, 274, 275, 278, 279, 280, 282, 284, 291, 294, 295, 300, 305, 306, 309, 310, 311, 313, 314, 316, 319, 320, 322, 327, 335, 337, 339, 341, 343, 344, 345, 350, 354, 355, 362, 366, 369, 379, 383, 385, 386, 389, 390, 393, 396, 401, 409, 411, 415, 416, 420, 422, 424, 426, 428, 429, 430, 431, 433, 439, 440, 443, 450, 451, 456, 458, 463, 464, 465, 466, 467, 468, 470, 475, 476, 482, 485, 488, 489, 490, 494, 496, 498, 499, 508, 516, 517, 519, 520, 521, 522, 524, 527, 529, 532, 538, 540, 542, 546, 547, 548, 557, 559, 561, 570, 575, 577, 578, 579, 580, 584, 587, 592, 594, 595, 596, 601, 603, 605, 607, 608, 614, 616, 620, 626, 627, 628, 630, 631, 632, 633, 634, 635, 637, 638, 641, 643, 644, 647, 649, 653, 660, 662, 667, 668, 670, 676, 682, 683, 684, 687, 688, 689, 693, 696, 704, 705, 706, 708, 709, 711, 723, 724, 725, 732, 734, 735, 736, 737, 738, 739, 741, 745, 746, 747, 754, 755, 756, 758, 763, 764, 765, 768, 769, 770, 771, 775, 777, 779, 789, 794, 795, 796, 801, 809, 811, 812, 813, 819, 824, 826, 827, 828, 834, 840, 841, 844, 845, 856, 858, 861, 865, 867, 879, 882, 887, 888, 891, 892, 897, 899, 902, 904, 907, 912, 915, 916, 917, 918, 920, 924, 925, 929, 931, 937, 941, 942, 943, 949, 952, 953, 963, 973, 978, 980, 981, 985, 994, 999, 1000, 1001, 1004, 1006, 1008, 1014, 1023, 1024, 1026, 1034, 1035, 1036, 1039, 1040, 1052, 1053, 1054, 1057, 1064, 1066, 1068, 1069, 1070, 1071, 1072, 1073, 1076, 1078, 1081, 1086, 1087, 1089, 1090, 1092, 1094, 1099, 1104, 1109, 1110, 1116, 1117, 1119, 1120, 1125, 1126, 1127, 1129, 1130, 1132, 1134, 1140, 1141, 1142, 1143, 1144, 1146, 1150, 1152, 1154, 1162, 1168, 1171, 1172, 1174, 1175, 1180, 1184, 1187, 1188, 1194, 1201, 1209, 1214, 1217, 1218, 1223, 1224, 1226, 1228, 1232, 1233, 1239, 1240, 1241, 1243, 1244, 1245, 1246, 1247, 1250, 1252, 1253, 1254, 1261, 1262, 1263, 1264, 1265, 1266, 1268, 1272, 1275, 1280, 1282, 1288, 1294, 1296, 1300, 1302, 1303, 1307, 1308, 1317, 1323, 1324, 1330, 1337, 1338, 1340, 1349, 1350, 1351, 1354, 1355, 1359, 1360, 1363, 1366, 1371, 1375, 1376, 1379, 1385, 1386, 1389, 1391, 1394, 1395, 1397, 1399, 1402, 1403, 1408, 1409, 1417, 1418, 1420, 1421, 1424, 1425, 1433, 1434, 1436, 1440, 1442, 1443, 1447, 1450, 1451, 1453, 1454, 1461, 1467, 1468, 1469, 1470, 1472, 1476, 1478, 1481, 1482, 1483, 1484, 1489, 1492, 1493, 1494, 1497, 1500, 1503, 1505, 1506, 1508, 1509, 1511, 1515, 1516, 1519, 1520, 1523, 1526, 1527, 1531, 1532, 1534, 1539, 1541, 1544, 1545, 1548, 1550, 1553, 1555, 1557, 1558, 1563, 1565, 1571, 1572, 1593, 1594, 1600, 1603, 1609, 1614, 1617, 1623, 1626, 1636, 1638, 1641, 1645, 1650, 1651, 1661, 1662, 1666, 1669, 1670, 1671, 1672, 1673, 1677, 1679, 1680, 1687, 1694, 1695, 1700, 1703, 1704, 1709, 1711, 1712, 1713, 1715, 1717, 1721, 1722, 1724, 1726, 1737, 1741, 1742, 1743, 1745, 1747, 1749, 1752, 1758, 1759, 1763, 1767, 1768, 1770, 1772, 1777, 1782, 1783, 1787, 1789, 1790, 1791, 1792, 1795, 1796, 1797, 1798, 1799, 1801, 1803, 1804, 1809, 1810, 1812, 1813, 1820, 1821, 1831, 1833, 1838, 1839, 1845, 1853, 1855, 1859, 1861, 1870, 1876, 1883, 1889, 1892, 1896, 1902, 1906, 1907, 1911, 1912, 1916, 1921, 1925, 1926, 1928, 1939, 1940, 1943, 1949, 1953, 1961, 1967, 1971, 1973, 1979, 1981, 1983, 1986, 1987, 1989, 1991, 1996, 2000, 2001, 2002, 2006, 2009, 2012, 2018, 2020, 2026, 2027, 2028, 2034, 2042, 2043, 2045, 2046, 2048, 2050, 2052, 2054, 2055, 2056, 2058, 2059, 2061, 2062, 2063, 2065, 2067, 2070, 2074, 2077, 2083, 2085, 2098, 2106, 2109, 2110, 2115, 2117, 2119, 2120, 2121, 2124, 2126, 2138, 2142, 2145, 2148, 2150, 2161, 2164, 2166, 2168, 2169, 2174, 2176, 2177, 2179, 2183, 2187, 2192, 2194, 2195, 2196, 2198, 2199, 2205, 2207, 2208, 2211, 2221, 2222, 2225, 2226, 2227, 2228, 2230, 2238, 2239, 2245, 2248, 2249, 2253, 2254, 2256, 2261, 2263, 2264, 2267, 2269, 2273, 2275, 2276, 2281, 2282, 2289, 2292, 2294, 2299, 2300, 2301, 2308, 2309, 2312, 2313, 2314, 2317, 2318, 2319, 2329, 2331, 2332, 2335, 2338, 2339, 2342, 2348, 2352, 2362, 2363, 2365, 2367, 2369, 2370, 2372, 2378, 2381, 2384, 2385, 2389, 2392, 2395, 2398, 2399, 2400, 2401, 2402, 2405, 2406, 2407, 2411, 2415, 2422, 2425, 2426, 2427, 2428, 2429, 2432, 2436, 2437, 2438, 2439, 2442, 2447, 2448, 2450, 2454, 2455, 2456, 2463, 2464, 2468, 2472, 2476, 2478, 2479, 2483, 2485, 2497, 2498, 2499, 2502, 2508, 2510, 2512, 2522, 2530, 2531, 2532, 2538, 2539, 2541, 2542, 2552, 2553, 2556, 2558, 2559, 2562, 2564, 2568, 2570, 2578, 2581, 2582, 2584, 2586, 2589, 2590, 2592, 2593, 2597, 2598, 2599, 2600, 2603, 2604, 2606, 2607, 2614, 2616, 2617, 2618, 2620, 2632, 2635, 2639, 2640, 2642, 2643, 2647, 2648, 2653, 2655, 2656, 2658, 2659, 2663, 2665, 2666, 2671, 2673, 2676, 2678, 2679, 2680, 2681, 2685, 2686, 2687, 2689, 2691, 2695, 2696, 2699, 2702, 2703, 2707, 2709, 2712, 2713, 2714, 2715, 2717, 2721, 2726, 2727, 2729, 2730, 2732, 2736, 2739, 2742, 2744, 2745, 2751, 2753, 2755, 2757, 2760, 2762, 2766, 2767, 2768, 2770, 2771, 2778, 2779, 2780, 2784, 2785, 2790, 2791, 2795, 2796, 2797, 2798, 2799, 2801, 2803, 2813, 2816, 2823, 2827, 2828, 2829, 2832, 2837, 2839, 2840, 2842, 2843, 2844, 2845, 2846, 2847, 2849, 2850, 2851, 2852, 2853, 2856, 2860, 2864, 2868, 2873, 2880, 2882, 2884, 2887, 2889, 2891, 2895, 2897, 2905, 2907, 2910, 2911, 2914, 2916, 2921, 2923, 2926, 2928, 2933, 2936, 2938, 2939, 2940, 2948, 2954, 2955, 2956, 2961, 2964, 2965, 2966, 2970, 2971, 2978, 2993, 2994, 2995, 2997, 3000, 3002, 3007, 3009, 3011, 3016, 3020, 3021, 3023, 3025, 3027, 3028, 3034, 3035, 3038, 3041, 3043, 3044, 3045, 3048, 3051, 3056, 3057, 3059, 3060, 3061, 3064, 3067, 3072, 3078, 3080, 3081, 3084, 3086, 3091, 3094, 3095, 3103, 3107, 3109, 3112, 3113, 3114, 3118, 3120, 3126, 3129, 3134, 3136, 3139, 3142, 3143, 3148, 3157, 3158, 3160, 3162, 3163, 3164, 3165, 3168, 3169, 3170, 3173, 3175, 3177, 3182, 3189, 3191, 3193, 3197, 3198, 3199, 3201, 3202, 3203, 3204, 3208, 3214, 3216, 3222, 3226, 3229, 3230, 3231, 3232, 3235, 3238, 3239, 3240, 3247, 3248, 3249, 3251, 3255, 3259, 3264, 3271, 3275, 3278, 3281, 3283, 3284, 3286, 3293, 3295, 3297, 3298, 3300, 3302, 3306, 3309, 3310, 3312, 3315, 3324, 3327, 3331, 3333, 3336, 3337, 3338, 3343, 3350, 3357, 3362, 3363, 3367, 3370, 3371, 3372, 3379, 3386, 3392, 3394, 3395, 3396, 3397, 3398, 3402, 3404, 3405, 3406, 3410, 3429, 3432, 3436, 3438, 3439, 3440, 3443, 3445, 3448, 3449, 3450, 3451, 3455, 3460, 3468, 3471, 3473, 3476, 3478, 3489, 3492, 3493, 3499, 3506, 3507, 3512, 3514, 3516, 3535, 3536, 3539, 3541, 3550, 3559, 3561, 3575, 3577, 3589, 3591, 3603, 3606, 3612, 3613, 3629, 3630, 3633, 3645, 3647, 3651, 3656, 3658, 3660, 3671, 3672, 3673, 3679, 3682, 3684, 3688, 3692, 3698, 3699, 3700, 3701, 3708, 3710, 3713, 3717, 3720, 3729, 3736, 3738, 3741, 3744, 3746, 3747, 3751, 3763, 3765, 3773, 3777, 3778, 3780, 3782, 3784, 3785, 3787, 3789, 3793, 3794, 3803, 3806, 3811, 3814, 3815, 3823, 3826, 3837, 3847, 3852, 3853, 3856, 3864, 3866, 3868, 3869, 3870, 3874, 3875, 3877, 3878, 3883, 3889, 3890, 3894, 3896, 3897, 3898, 3900, 3902, 3904, 3905, 3908, 3913, 3915, 3917, 3920, 3923, 3926, 3927, 3932, 3933, 3936, 3938, 3941, 3942, 3945, 3946, 3948, 3949, 3951, 3953, 3957, 3959, 3962, 3966, 3974, 3978, 3987, 3993, 3994, 3995, 3997, 3998, 4002, 4004, 4010, 4014, 4022, 4024, 4037, 4049, 4050, 4053, 4054, 4059, 4062, 4064, 4075, 4076, 4085, 4087, 4088, 4089, 4092, 4094, 4098, 4102, 4103, 4107, 4113, 4116, 4117, 4119, 4122, 4123, 4126, 4136, 4139, 4143, 4147, 4150, 4151, 4152, 4166, 4169, 4170, 4179, 4186, 4187, 4188, 4189, 4190, 4200, 4201, 4206, 4214, 4217, 4218, 4226, 4231, 4232, 4234, 4235, 4244, 4247, 4249, 4250, 4261, 4263, 4264, 4265, 4268, 4269, 4276, 4284, 4285, 4288, 4290, 4291, 4294, 4299, 4300, 4303, 4310, 4312, 4315, 4317, 4320, 4321, 4322, 4323, 4324, 4326, 4327, 4330, 4332, 4334, 4340, 4341, 4342, 4348, 4349, 4351, 4352, 4355, 4356, 4358, 4362, 4363, 4365, 4369, 4372, 4373, 4375, 4376, 4380, 4381, 4384, 4391, 4392, 4397, 4401, 4403, 4405, 4408, 4412, 4413, 4415, 4417, 4425, 4430, 4433, 4441, 4454, 4457, 4462, 4463, 4473, 4483, 4492, 4494, 4495, 4498, 4500, 4501, 4504, 4506, 4510, 4512, 4520, 4521, 4522, 4525, 4534, 4535, 4536, 4538, 4544, 4548, 4553, 4564, 4569, 4571, 4579, 4585, 4586, 4591, 4594, 4597, 4600, 4609, 4610, 4611, 4613, 4614, 4616, 4617, 4629, 4632, 4638, 4639, 4650, 4656, 4665, 4672, 4673, 4681, 4683, 4685, 4686, 4693, 4698, 4703, 4704, 4705, 4718, 4724, 4729, 4732, 4738, 4739, 4742, 4744, 4749, 4751, 4752, 4762, 4766, 4784, 4785, 4788, 4791, 4794, 4795, 4797, 4806, 4807, 4808, 4814, 4816, 4818, 4822, 4837, 4839, 4855, 4868, 4872, 4873, 4877, 4879, 4895, 4899, 4906, 4912, 4914, 4917, 4921, 4922, 4926, 4929, 4933, 4936, 4938, 4940, 4952, 4954, 4957, 4969, 4970, 4981, 4987, 4993, 4998, 5000, 5003, 5006, 5009, 5015, 5017, 5020, 5021, 5022, 5025, 5030, 5035, 5040, 5048, 5055, 5057, 5059, 5067, 5070, 5072, 5075, 5076, 5077, 5082, 5084, 5089, 5093, 5097, 5102, 5108, 5115, 5116, 5122, 5123, 5130, 5131, 5133, 5139, 5140, 5146, 5150, 5157, 5161, 5168, 5169, 5174, 5187, 5193, 5201, 5205, 5206, 5210, 5214, 5218, 5219, 5221, 5225, 5227, 5241, 5243, 5248, 5258, 5259, 5260, 5263, 5264, 5266, 5267, 5270, 5274, 5275, 5279, 5281, 5284, 5286, 5287, 5290, 5292, 5300, 5302, 5303, 5311, 5312, 5314, 5316, 5317, 5318, 5320, 5321, 5322, 5331, 5335, 5342, 5343, 5345, 5351, 5355, 5357, 5358, 5360, 5363, 5367, 5369, 5370, 5373, 5375, 5377, 5385, 5389, 5395, 5398, 5403, 5416, 5419, 5421, 5423, 5429, 5431, 5433, 5434, 5440, 5442, 5445, 5454, 5455, 5460, 5462, 5471, 5477, 5478, 5481, 5482, 5488, 5496, 5502, 5503, 5507, 5509, 5512, 5517, 5518, 5531, 5532, 5533, 5541, 5542, 5543, 5548, 5550, 5559, 5561, 5563, 5564, 5566, 5567, 5571, 5576, 5578, 5579, 5584, 5585, 5590, 5592, 5593, 5595, 5596, 5603, 5604, 5606, 5610, 5612, 5613, 5615, 5616, 5618, 5621, 5622, 5623, 5624, 5625, 5626, 5635, 5636, 5640, 5641, 5651, 5656, 5658, 5661, 5662, 5664, 5668, 5680, 5682, 5685, 5691, 5693, 5694, 5695, 5696, 5699, 5703, 5715, 5716, 5717, 5718, 5722, 5728, 5736, 5744, 5759, 5765, 5782, 5783, 5789, 5793, 5798, 5806, 5807, 5811, 5814, 5815, 5816, 5829, 5842, 5844, 5850, 5856, 5865, 5866, 5867, 5868, 5870, 5872, 5884, 5885, 5892, 5893, 5894, 5898, 5899, 5902, 5906, 5909, 5915, 5918, 5923, 5930, 5944, 5949, 5951, 5965, 5968, 5969, 5973, 5974, 5976, 5977, 5978, 5981, 5982, 5984, 5988, 5994, 5995, 5996, 6029, 6038, 6057, 6061, 6066, 6069, 6071, 6073, 6074, 6079, 6080, 6084, 6096, 6099, 6113, 6116, 6119, 6124, 6127, 6128, 6131, 6133, 6138, 6145, 6146, 6150, 6152, 6154, 6163, 6164, 6175, 6185, 6190, 6193, 6199, 6212, 6213, 6216, 6243, 6244, 6252, 6255, 6257, 6259, 6263, 6264, 6275, 6276, 6277, 6279, 6280, 6284, 6286, 6292, 6300, 6303, 6304, 6309, 6315, 6316, 6317, 6318, 6320, 6322, 6324, 6326, 6327, 6335, 6347, 6348, 6352, 6353, 6356, 6364, 6365, 6370, 6372, 6377, 6382, 6386, 6387, 6400, 6401, 6403, 6405, 6408, 6409, 6415, 6418, 6421, 6422, 6424, 6426, 6427, 6428, 6430, 6433, 6435, 6457, 6465, 6466, 6479, 6482, 6489, 6496, 6500, 6504, 6509, 6513, 6515, 6517, 6518, 6520, 6523, 6524, 6526, 6534, 6539, 6540, 6550, 6555, 6558, 6561, 6564, 6584, 6585, 6586, 6589, 6592, 6597, 6603, 6607, 6609, 6617, 6618, 6621, 6622, 6623, 6628, 6629, 6630, 6631, 6640, 6652, 6653, 6661, 6667, 6671, 6673, 6690, 6710, 6712, 6719, 6731, 6734, 6739, 6741, 6749, 6750, 6751, 6752, 6755, 6758, 6759, 6760, 6765, 6766, 6767, 6768, 6769, 6770, 6771, 6773, 6774, 6777, 6782, 6785, 6786, 6787, 6790, 6795, 6798, 6803, 6807, 6808, 6809, 6811, 6815, 6816, 6820, 6821, 6822, 6828, 6832, 6833, 6840, 6842, 6843, 6845, 6847, 6848, 6849, 6851, 6854, 6862, 6863, 6868, 6869, 6874, 6877, 6878, 6879, 6892, 6893, 6901, 6909, 6912, 6919, 6921, 6924, 6939, 6949, 6951, 6954, 6955, 6956, 6957, 6959, 6964, 6968, 6969, 6970, 6971, 6977, 6980, 6989, 6992, 7002, 7007, 7014, 7016, 7017, 7022, 7026, 7033, 7038, 7049, 7068, 7069, 7078, 7082, 7084, 7085, 7102, 7106, 7107, 7109, 7114, 7118, 7126, 7135, 7136, 7138, 7142, 7154, 7160, 7165, 7167, 7172, 7178, 7182, 7183, 7184, 7185, 7189, 7192, 7193, 7194, 7196, 7199, 7203, 7209, 7215, 7216, 7223, 7224, 7225, 7227, 7230, 7236, 7246, 7256, 7257, 7260, 7266, 7274, 7276, 7278, 7281, 7286, 7288, 7289, 7295, 7296, 7299, 7305, 7306, 7307, 7311, 7312, 7314, 7315, 7316, 7325, 7338, 7344, 7345, 7350, 7357, 7367, 7369, 7374, 7387, 7392, 7395, 7409, 7417, 7419, 7425, 7429, 7433, 7435, 7448, 7450, 7451, 7464, 7468, 7475, 7477, 7491, 7501, 7502, 7504, 7512, 7513, 7521, 7529, 7531, 7533, 7543, 7552, 7553, 7559, 7567, 7574, 7579, 7581, 7587, 7590, 7597, 7605, 7606, 7622, 7625, 7636, 7637, 7641, 7642, 7643, 7647, 7648, 7650, 7657, 7661, 7666, 7669, 7670, 7671, 7672, 7674, 7675, 7677, 7680, 7683, 7693, 7704, 7707, 7708, 7709, 7714, 7716, 7722, 7725, 7731, 7735, 7747, 7768, 7772, 7773, 7777, 7778, 7789, 7806, 7809, 7810, 7815, 7817, 7825, 7827, 7831, 7832, 7833, 7834, 7838, 7844, 7846, 7851, 7861, 7862, 7874, 7875, 7877, 7878, 7881, 7882, 7884, 7898, 7899, 7904, 7921, 7923, 7927, 7934, 7935, 7937, 7940, 7941, 7951, 7961, 7962, 7969, 7979, 7981, 7990, 7993, 8006, 8010, 8011, 8019, 8022, 8027, 8030, 8031, 8032, 8038, 8046, 8047, 8049, 8050, 8052, 8053, 8054, 8059, 8060, 8061, 8065, 8071, 8072, 8075, 8078, 8081, 8083, 8087, 8092, 8093, 8096, 8100, 8101, 8102, 8106, 8113, 8115, 8123, 8124, 8126, 8128, 8131, 8141, 8142, 8150, 8153, 8155, 8157, 8158, 8164, 8170, 8171, 8172, 8178, 8180, 8183, 8184, 8189, 8191, 8192, 8193, 8205, 8213, 8214, 8219, 8221, 8228, 8234, 8238, 8259, 8263, 8264, 8265, 8266, 8270, 8277, 8279, 8280, 8283, 8291, 8295, 8298, 8300, 8301, 8316, 8320, 8321, 8331, 8332, 8334, 8337, 8345, 8347, 8351, 8352, 8359, 8360, 8372, 8373, 8374, 8377, 8380, 8387, 8388, 8389, 8395, 8397, 8401, 8406, 8415, 8441, 8445, 8448, 8455, 8461, 8463, 8466, 8474, 8476, 8478, 8481, 8482, 8484, 8490, 8499, 8501, 8503, 8506, 8509, 8511, 8512, 8515, 8516, 8520, 8521, 8525, 8532, 8541, 8549, 8551, 8557, 8560, 8561, 8562, 8563, 8571, 8572, 8573, 8591, 8593, 8595, 8596, 8597, 8598, 8599, 8601, 8603, 8609, 8611, 8616, 8618, 8620, 8621, 8625, 8631, 8636, 8642, 8647, 8651, 8657, 8659, 8661, 8665, 8667, 8669, 8676, 8679, 8686, 8699, 8700, 8702, 8704, 8707, 8715, 8717, 8722, 8723, 8724, 8727, 8732, 8733, 8741, 8744, 8746, 8750, 8760, 8763, 8767, 8773, 8776, 8779, 8790, 8796, 8799, 8800, 8801, 8802, 8803, 8805, 8810, 8820, 8824, 8835, 8836, 8837, 8838, 8863, 8874, 8876, 8879, 8882, 8883, 8888, 8898, 8899, 8903, 8905, 8907, 8912, 8913, 8914, 8917, 8918, 8919, 8925, 8927, 8928, 8933, 8935, 8947, 8955, 8960, 8963, 8973, 8977, 9008, 9014, 9015, 9025, 9030, 9032, 9037, 9041, 9047, 9048, 9052, 9054, 9056, 9062, 9064, 9065, 9070, 9072, 9077, 9078, 9081, 9083, 9085, 9092, 9096, 9103, 9104, 9106, 9108, 9110, 9111, 9114, 9122, 9128, 9131, 9142, 9148, 9155, 9160, 9163, 9166, 9170, 9172, 9187, 9190, 9191, 9202, 9207, 9209, 9212, 9217, 9242, 9244, 9252, 9258, 9265, 9271, 9272, 9273, 9275, 9286, 9302, 9305, 9312, 9313, 9314, 9315, 9319, 9325, 9348, 9351, 9359, 9360, 9378, 9381, 9382, 9392, 9394, 9395, 9397, 9399, 9407, 9411, 9412, 9415, 9417, 9420, 9423, 9424, 9427, 9435, 9438, 9443, 9455, 9458, 9460, 9467, 9468, 9469, 9473, 9475, 9476, 9491, 9496, 9501, 9503, 9504, 9506, 9509, 9519, 9525, 9527, 9530, 9533, 9537, 9538, 9543, 9547, 9549, 9554, 9556, 9559, 9562, 9570, 9572, 9595, 9610, 9612, 9619, 9633, 9634, 9647, 9648, 9649, 9650, 9654, 9655, 9660, 9668, 9674, 9677, 9681, 9693, 9694, 9698, 9711, 9716, 9724, 9726, 9730, 9734, 9735, 9740, 9741, 9743, 9746, 9748, 9752, 9753, 9754, 9755, 9765, 9767, 9776, 9781, 9786, 9795, 9802, 9804, 9811, 9817, 9822, 9825, 9833, 9837, 9839, 9841, 9843, 9850, 9852, 9854, 9863, 9867, 9884, 9896, 9905, 9907, 9924, 9932, 9936, 9945, 9956, 9957, 9962, 9967, 9978, 9979, 9983, 9984, 9985, 9988, 9989, 9993, 10000, 10002, 10005, 10007, 10009, 10016, 10024, 10030, 10032, 10045, 10052, 10058, 10067, 10071, 10072, 10082, 10086, 10094, 10100, 10102, 10103, 10106, 10107, 10108, 10109, 10111, 10119, 10121, 10125, 10126, 10130, 10132, 10133, 10135, 10140, 10144, 10151, 10153, 10157, 10159, 10169, 10175, 10176, 10184, 10190, 10193, 10205, 10210, 10212, 10214, 10220, 10226, 10234, 10235, 10239, 10241, 10244, 10245, 10246, 10247, 10248, 10256, 10262, 10264, 10270, 10273, 10279, 10286, 10288, 10291, 10295, 10306, 10312, 10320, 10321, 10328, 10336, 10340, 10343, 10346, 10349, 10350, 10353, 10356, 10367, 10371, 10372, 10373, 10376, 10384, 10392, 10401, 10405, 10418, 10424, 10438, 10442, 10444, 10448, 10454, 10461, 10467, 10476, 10480, 10490, 10492, 10506, 10507, 10511, 10514, 10515, 10537, 10539, 10550, 10554, 10562, 10565, 10567, 10574, 10580, 10584, 10589, 10590, 10592, 10599, 10602, 10608, 10615, 10626, 10633, 10634, 10637, 10645, 10646, 10649, 10678, 10684, 10687, 10706, 10710, 10711, 10722, 10727, 10734, 10741, 10746, 10752, 10753, 10754, 10757, 10766, 10770, 10778, 10781, 10785, 10786, 10791, 10799, 10801, 10803, 10827, 10830, 10837, 10842, 10852, 10853, 10854, 10855, 10857, 10863, 10865, 10866, 10871, 10872, 10877, 10880, 10889, 10914, 10916, 10919, 10921, 10926, 10929, 10931, 10932, 10938, 10951, 10960, 10967, 10968, 10969, 10991, 11011, 11016, 11023, 11038, 11041, 11042, 11060, 11065, 11078, 11079, 11092, 11093, 11095, 11097, 11101, 11106, 11107, 11118, 11120, 11125, 11131, 11135, 11138, 11141, 11143, 11153, 11156, 11157, 11168, 11181, 11204, 11205, 11210, 11219, 11225, 11229, 11231, 11232, 11233, 11244, 11262, 11277, 11281, 11282, 11284, 11285, 11299, 11304, 11313, 11314, 11315, 11318, 11324, 11332, 11334, 11337, 11344, 11345, 11347, 11363, 11365, 11367, 11370, 11388, 11405, 11409, 11410, 11415, 11416, 11423, 11425, 11428, 11433, 11439, 11440, 11462, 11474, 11483, 11489, 11496, 11505, 11509, 11514, 11524, 11549, 11561, 11564, 11565, 11570, 11578, 11592, 11593, 11596, 11600, 11609, 11615, 11616, 11619, 11632, 11634, 11638, 11641, 11645, 11657, 11667, 11672, 11673, 11715, 11728, 11732, 11737, 11744, 11748, 11758, 11759, 11766, 11776, 11789, 11790, 11792, 11794, 11796, 11799, 11814, 11816, 11817, 11822, 11824, 11826, 11829, 11835, 11839, 11845, 11862, 11866, 11876, 11886, 11898, 11899, 11902, 11912, 11915, 11918, 11919, 11921, 11922, 11926, 11933, 11940, 11944, 11946, 11947, 11950, 11962, 11971, 11985, 11998, 12002, 12003, 12015, 12025, 12031, 12037, 12038, 12039, 12049, 12055, 12058, 12060, 12064, 12073, 12082, 12083, 12090, 12102, 12107, 12108, 12120, 12121, 12141, 12143, 12146, 12148, 12153, 12159, 12162, 12166, 12186, 12192, 12194, 12196, 12204, 12206, 12215, 12221, 12224, 12225, 12226, 12228, 12234, 12237, 12238, 12242, 12243, 12250, 12254, 12259, 12260, 12269, 12274, 12294, 12295, 12296, 12308, 12309, 12316, 12320, 12322, 12335, 12341, 12342, 12349, 12353, 12354, 12356, 12359, 12365, 12367, 12368, 12370, 12372, 12375, 12382, 12383, 12385, 12390, 12391, 12398, 12409, 12417, 12418, 12421, 12422, 12427, 12438, 12455, 12470, 12473, 12476, 12482, 12486, 12487, 12499, 12504, 12510, 12514, 12521, 12525, 12526, 12539, 12542, 12546, 12570, 12574, 12583, 12595, 12603, 12604, 12607, 12614, 12624, 12627, 12628, 12638, 12645, 12650, 12669, 12680, 12681, 12701, 12705, 12710, 12712, 12713, 12718, 12719, 12721, 12729, 12735, 12746, 12752, 12755, 12759, 12773, 12780, 12798, 12799, 12805, 12813, 12820, 12824, 12829, 12833, 12842, 12847, 12850, 12853, 12854, 12856, 12857, 12868, 12872, 12900, 12906, 12907, 12908, 12914, 12916, 12920, 12928, 12930, 12932, 12937, 12943, 12947, 12952, 12963, 12968, 12969, 12972, 12975, 12994, 12995, 13001, 13003, 13007, 13012, 13030, 13060, 13069, 13076, 13077, 13078, 13080, 13091, 13096, 13098, 13101, 13103, 13104, 13109, 13126, 13136, 

In [ ]:
df = df.drop(removeable_indices)
df.reset_index(inplace=True, drop=True)

In [ ]:
df.head(20)

,Datetime,Tweet Id,Text,Username
0,2023-05-27 23:06:22+00:00,1662596135679131649,On Twitter I mean,elonmusk
1,2023-05-27 23:06:02+00:00,1662596048076906501,Jack is back,elonmusk
2,2023-05-27 19:22:09+00:00,1662539707559952384,Office Space is an awesome movie,elonmusk
3,2023-05-27 19:03:00+00:00,1662534890133372931,A real problem,elonmusk
4,2023-05-27 18:42:26+00:00,1662529714634752001,Previously I had thought it was some pescatari...,elonmusk
5,2023-05-27 18:38:41+00:00,1662528767221280768,I was today’s years old when I learned that so...,elonmusk
6,2023-05-27 17:52:26+00:00,1662517130779058176,We are insulated from this in the west,elonmusk
7,2023-05-27 16:57:29+00:00,1662503299378032640,Not sure why this happened,elonmusk
8,2023-05-27 16:52:16+00:00,1662501986627977218,Just tap the button for FSD Beta,elonmusk
9,2023-05-27 15:46:20+00:00,1662485396213710849,Sounds reasonable,elonmusk
10,2023-05-27 03:11:42+00:00,1662295487813148673,He might actually be,elonmusk
11,2023-05-27 03:08:51+00:00,1662294768049696769,That was many years ago. Their cars are highly...,elonmusk
12,2023-05-27 03:05:27+00:00,1662293913330237441,Pretty much,elonmusk
13,2023-05-27 03:03:50+00:00,1662293507925590016,Hold on to your horse as the carousel of desti...,elonmusk
14,2023-05-27 03:01:03+00:00,1662292805312495618,Bruh do you even AI,elonmusk
15,2023-05-27 02:58:37+00:00,1662292194672230400,Maybe it’s not true hence the question,elonmusk
16,2023-05-27 02:57:04+00:00,1662291805587554304,Too many social media companies,elonmusk
17,2023-05-27 02:56:01+00:00,1662291539635126272,Is this true,elonmusk
18,2023-05-27 01:47:14+00:00,1662274227385376768,I have made the invitation several times inclu...,elonmusk
19,2023-05-27 01:22:03+00:00,1662267891268349956,Starship is the first rocketspaceship with the...,elonmusk

In [ ]:
import numpy as np

Start of full text, encoding attempt

In [ ]:
text_array = df["Text"].to_numpy()
all_data = " ".join(text_array)

End of all text encoding attempt

Start of n-gram(?)

In [ ]:
# using average sentence length of 25
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer(oov_token="<OOV>")
all_data = all_data.split()
tokenizer.fit_on_texts(all_data)

total_words = len(tokenizer.word_index) + 1

In [ ]:
input_sequences = []
max_seq_length = 25
for line in df["Text"]:
  token_list = tokenizer.texts_to_sequences([line])[0]
  for i in range(1, len(token_list)):
    n_gram_sequence = token_list[:i+1]
    if len(n_gram_sequence) <= max_seq_length:
      input_sequences.append(n_gram_sequence)

In [ ]:
remove = []

for n_gram in range(0, len(input_sequences)):
  length = len(input_sequences[n_gram])
  if length < 25:
    for i in range(0, max_seq_length-length):
      input_sequences[n_gram].insert(0, 0)

In [ ]:
input_sequences = np.array(input_sequences)

End of n-gram(?)

In [ ]:
len(input_sequences[0])

25

In [ ]:
vocabulary_size = len(tokenizer.word_counts)

In [ ]:
vocabulary_size

16304

In [ ]:
max_sequence_len = 25
max_sequence_len

25

In [ ]:
import numpy as np

In [ ]:
len(input_sequences[0])

25

In [ ]:
input_sequences[0]

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0, 15, 56])

In [ ]:
tokenizer.sequences_to_texts([[3]])

['the']

In [ ]:
len(input_sequences[0])

25

In [ ]:
len(input_sequences)

180896

In [ ]:
input_sequences=input_sequences[:111140]

In [ ]:
X = input_sequences[:, :-1]
y = input_sequences[:, -1]

y= tf.keras.utils.to_categorical(y, num_classes=vocabulary_size+1)

In [ ]:
y

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
np.argmax(y[0])

56

In [ ]:
seq_len = X.shape[1]
seq_len

24

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, Embedding, Bidirectional

def create_model(vocabulary_size, seq_len):
  model = Sequential()
  model.add(Embedding(vocabulary_size, seq_len, input_length=seq_len))
  model.add(Bidirectional(LSTM(25, return_sequences=True)))
  model.add(Bidirectional(LSTM(25)))
  model.add(Dense(100, activation='relu'))
  model.add(Dense(vocabulary_size, activation='softmax'))

  model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

  model.summary()

  return model

In [ ]:
model = create_model(vocabulary_size+1, seq_len)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 24, 24)            391320

 bidirectional (Bidirectiona  (None, 24, 50)           10000
 l)

 bidirectional_1 (Bidirectio  (None, 50)               15200
 nal)

 dense (Dense)               (None, 100)               5100

 dense_1 (Dense)             (None, 16305)             1646805

=================================================================
Total params: 2,068,425
Trainable params: 2,068,425
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X,y,batch_size=20, epochs=200, verbose=1)

Epoch 1/200
5557/5557 [==============================] - 107s 17ms/step - loss: 7.3405 - accuracy: 0.0352
Epoch 2/200
5557/5557 [==============================] - 69s 12ms/step - loss: 6.9155 - accuracy: 0.0593
Epoch 3/200
5557/5557 [==============================] - 68s 12ms/step - loss: 6.6242 - accuracy: 0.0784
Epoch 4/200
5557/5557 [==============================] - 68s 12ms/step - loss: 6.4013 - accuracy: 0.0881
Epoch 5/200
5557/5557 [==============================] - 67s 12ms/step - loss: 6.2238 - accuracy: 0.0942
Epoch 6/200
5557/5557 [==============================] - 67s 12ms/step - loss: 6.0705 - accuracy: 0.0991
Epoch 7/200
5557/5557 [==============================] - 68s 12ms/step - loss: 5.9397 - accuracy: 0.1032
Epoch 8/200
5557/5557 [==============================] - 66s 12ms/step - loss: 5.8219 - accuracy: 0.1069
Epoch 9/200
5557/5557 [==============================] - 68s 12ms/step - loss: 5.7170 - accuracy: 0.1102
Epoch 10/200
5557/5557 [==============================] - 67s 12ms/step - loss: 5.6209 - accuracy: 0.1153
Epoch 11/200
5557/5557 [==============================] - 68s 12ms/step - loss: 5.5317 - accuracy: 0.1204
Epoch 12/200
5557/5557 [==============================] - 66s 12ms/step - loss: 5.4464 - accuracy: 0.1239
Epoch 13/200
5557/5557 [==============================] - 67s 12ms/step - loss: 5.3671 - accuracy: 0.1276
Epoch 14/200
5557/5557 [==============================] - 67s 12ms/step - loss: 5.2892 - accuracy: 0.1309
Epoch 15/200
5557/5557 [==============================] - 67s 12ms/step - loss: 5.2156 - accuracy: 0.1339
Epoch 16/200
5557/5557 [==============================] - 66s 12ms/step - loss: 5.1460 - accuracy: 0.1379
Epoch 17/200
5557/5557 [==============================] - 67s 12ms/step - loss: 5.0781 - accuracy: 0.1403
Epoch 18/200
5557/5557 [==============================] - 66s 12ms/step - loss: 5.0139 - accuracy: 0.1429
Epoch 19/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.9484 - accuracy: 0.1457
Epoch 20/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.8855 - accuracy: 0.1493
Epoch 21/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.8243 - accuracy: 0.1526
Epoch 22/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.7648 - accuracy: 0.1550
Epoch 23/200
5557/5557 [==============================] - 68s 12ms/step - loss: 4.7070 - accuracy: 0.1586
Epoch 24/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.6497 - accuracy: 0.1621
Epoch 25/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.5896 - accuracy: 0.1655
Epoch 26/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.5277 - accuracy: 0.1705
Epoch 27/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.4705 - accuracy: 0.1750
Epoch 28/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.4091 - accuracy: 0.1795
Epoch 29/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.3531 - accuracy: 0.1842
Epoch 30/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.2987 - accuracy: 0.1894
Epoch 31/200
5557/5557 [==============================] - 65s 12ms/step - loss: 4.2440 - accuracy: 0.1946
Epoch 32/200
5557/5557 [==============================] - 68s 12ms/step - loss: 4.1936 - accuracy: 0.1995
Epoch 33/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.1428 - accuracy: 0.2062
Epoch 34/200
5557/5557 [==============================] - 67s 12ms/step - loss: 4.0967 - accuracy: 0.2108
Epoch 35/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.0521 - accuracy: 0.2139
Epoch 36/200
5557/5557 [==============================] - 66s 12ms/step - loss: 4.0067 - accuracy: 0.2217
Epoch 37/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.9675 - accuracy: 0.2246
Epoch 38/200
5557/5557 [==============================] - 68s 12ms/step - loss: 3.9224 - accuracy: 0.2301
Epoch 39/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.8874 - accuracy: 0.2341
Epoch 40/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.8511 - accuracy: 0.2388
Epoch 41/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.8116 - accuracy: 0.2433
Epoch 42/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.7802 - accuracy: 0.2473
Epoch 43/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.7481 - accuracy: 0.2515
Epoch 44/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.7135 - accuracy: 0.2556
Epoch 45/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.6798 - accuracy: 0.2604
Epoch 46/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.6512 - accuracy: 0.2644
Epoch 47/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.6276 - accuracy: 0.2682
Epoch 48/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.5946 - accuracy: 0.2717
Epoch 49/200
5557/5557 [==============================] - 65s 12ms/step - loss: 3.5678 - accuracy: 0.2753
Epoch 50/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.5419 - accuracy: 0.2797
Epoch 51/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.5131 - accuracy: 0.2824
Epoch 52/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.4909 - accuracy: 0.2877
Epoch 53/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.4656 - accuracy: 0.2897
Epoch 54/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.4408 - accuracy: 0.2938
Epoch 55/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.4190 - accuracy: 0.2969
Epoch 56/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.3933 - accuracy: 0.3001
Epoch 57/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.3723 - accuracy: 0.3030
Epoch 58/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.3505 - accuracy: 0.3070
Epoch 59/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.3277 - accuracy: 0.3099
Epoch 60/200
5557/5557 [==============================] - 68s 12ms/step - loss: 3.3088 - accuracy: 0.3126
Epoch 61/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.2878 - accuracy: 0.3166
Epoch 62/200
5557/5557 [==============================] - 68s 12ms/step - loss: 3.2711 - accuracy: 0.3184
Epoch 63/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.2512 - accuracy: 0.3236
Epoch 64/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.2277 - accuracy: 0.3258
Epoch 65/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.2132 - accuracy: 0.3280
Epoch 66/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.1951 - accuracy: 0.3303
Epoch 67/200
5557/5557 [==============================] - 65s 12ms/step - loss: 3.1746 - accuracy: 0.3339
Epoch 68/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.1599 - accuracy: 0.3369
Epoch 69/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.1447 - accuracy: 0.3384
Epoch 70/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.1294 - accuracy: 0.3413
Epoch 71/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.1152 - accuracy: 0.3436
Epoch 72/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.0952 - accuracy: 0.3474
Epoch 73/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.0847 - accuracy: 0.3480
Epoch 74/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.0734 - accuracy: 0.3498
Epoch 75/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.0567 - accuracy: 0.3538
Epoch 76/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.0473 - accuracy: 0.3557
Epoch 77/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.0340 - accuracy: 0.3563
Epoch 78/200
5557/5557 [==============================] - 67s 12ms/step - loss: 3.0221 - accuracy: 0.3592
Epoch 79/200
5557/5557 [==============================] - 66s 12ms/step - loss: 3.0077 - accuracy: 0.3622
Epoch 80/200
5557/5557 [==============================] - 67s 12ms/step - loss: 2.9960 - accuracy: 0.3638
Epoch 81/200
5557/5557 [==============================] - 66s 12ms/step - loss: 2.9892 - accuracy: 0.3649
Epoch 82/200
5557/5557 [==============================] - 66s 12ms/step - loss: 2.9748 - accuracy: 0.3667
Epoch 83/200
5557/5557 [==============================] - 67s 12ms/step - loss: 2.9622 - accuracy: 0.3692
Epoch 84/200
5557/5557 [==============================] - 67s 12ms/step - loss: 2.9539 - accuracy: 0.3707
Epoch 85/200
5557/5557 [==============================] - 67s 12ms/step - loss: 2.9476 - accuracy: 0.3724
Epoch 86/200
5557/5557 [==============================] - 66s 12ms/step - loss: 2.9354 - accuracy: 0.3735
Epoch 87/200
5557/5557 [==============================] - 67s 12ms/step - loss: 2.9231 - accuracy: 0.3747
Epoch 88/200
5557/5557 [==============================] - 66s 12ms/step - loss: 2.9161 - accuracy: 0.3765
Epoch 89/200
4901/5557 [=========================>....] - ETA: 7s - loss: 2.8913 - accuracy: 0.3813

In [ ]:
from keras.utils import pad_sequences

In [ ]:
import random
random.seed(266)
random_pick = random.randint(0, len(df["Text"]))

In [ ]:
def generate_text(model, tokenizer, seq_len, seed_text, num_gen_words):
  output_text = []

  input_text = seed_text

  for i in range(num_gen_words):
    encoded_text = tokenizer.texts_to_sequences([input_text])[0]

    pad_encoded = pad_sequences([encoded_text], maxlen=seq_len,truncating='pre')

    pred_word_ind = model.predict(pad_encoded, verbose=0)[0]
    print(pred_word_ind)
    index = np.argmax(pred_word_ind)
    pred_word = tokenizer.index_word[index]

    print(pred_word)
    input_text += ' '+pred_word

    output_text.append(pred_word)

  return ' '.join(output_text)

In [ ]:
random_seed_text = df["Text"][random_pick]

In [ ]:
input_sequences

In [ ]:
random_seed_text = "Welcome to the"

In [ ]:
generated_text = generate_text(model, tokenizer, seq_len, seed_text=random_seed_text, num_gen_words=10)

In [ ]:
f"{random_seed_text} {generated_text} "

In [ ]:
!mkdir -p saved_model

In [ ]:
model.save('saved_model/my_model')